<!-- ========================= header ========================= -->
<header>
  <nav class="aw-menu">
    <ul>
      <li>
        <a href="#"><i class="fa  fa-fw  fa-home"></i>Dashboard</a>
      </li>
      <li class="is-selected">
        <a href="#"><i class="fa  fa-fw  fa-user"></i>Pagina 1</a>
      </li>
      <li>
        <a href="#"><i class="fa  fa-fw  fa-user"></i>Página 2</a>
      </li>
      <li>
        <a href="#"><i class="fa  fa-fw  fa-cog"></i>Página 3</a>
      </li>
    </ul>
  </nav>
</header>
<!-- ========================= header END // ========================= -->
